@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf');
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Darker Grotesque';
    src: url('../fonts/DarkerGrotesque-Regular.ttf');
    font-style: normal;
    font-weight: 500;
  }