$font-body: 'Darker Grotesque', sans-serif;
$font-heading: Inter, sans-serif;
$background-color: #121212;
$color-cod-gray: #1b1b1b;
$color-trinidad: #EF5600;
$color-fire: #B74200;
$color-tuft-bush: #FFDECC;
$color-baltic-sea: #313033;
$color-salt-box: #605D62;
$color-mountain-mist: #939094;
$color-gray-suit: #CDCACE;
$color-athens-gray: #EFEFF4;
$color-alabaster: #FCFCFC;
$color-white: #FFFFFF;
$color-green: #00DB00;
$color-selective-yellow: #FFB906;
$color-red: #F00303;
$color-black: #000000;


$page-width: 650px;


h1 {
    font-family: $font-heading;
}
